.main{
    background-color:#F2F2F2;
    width:100%;
    height:600px;
    text-align:center;
}
.base_numbers{
    text-align:left;
    background-color:Red;
    display:inline-block;
}

.base_number_input{
    background-color:#FFFF00;
    width:auto;
}

.base_number_label{
    background-color:white;
    font-family:sans-serif;
}

.main_lifts_outline{
    text-align:left;
    margin-left:40px;
}
